/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic')*/
*{
  padding:0;
  margin:0;
}
ul li{
  list-style-type:none;
}
a{
  text-decoration:none;
  /*color:#fefefe;*/
}
                /*Шрифты*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto',Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
h1{
  font-size: 55px;
  font-weight: bold;
}
.represent>h1{
  font-size:45px;
}
h2{
  font-size: 24px;
  text-transform: uppercase;
}
.adress{
  font-size: 16px;
  line-height: 18px;
}
.sale-10{
  line-height: 22px;
}

.surrender{
  font-size: 18px;
  line-height: 18px;
}
/*Main-header*/
.main-header{
  background-color: #ECECEC;
}

