
.wrapper,
.main-footer{
  margin: auto;
  width: 1440px;
}
ul li{
  list-style-type:none;
}
a{
  text-decoration:none;
  color: black;
}
                /*Шрифты*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto',Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
h1{
  font-size: 45px;
}
.represent>h1{
  font-size:45px;
}
h2{
  font-size: 24px;
  text-transform: uppercase;
}
.tel{
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 50px
}
.peter{
  margin-bottom: -20px;
}
.sale-10{
  line-height: 22px;
  margin-top: 7px;
}
.surrender{
  font-size: 18px;
  line-height: 18px;
}
.price-text,
.grid,
.features>p{
  line-height: 20px;
}
.price-text,
.grid,
.features {
  font-weight: bold;
  text-transform: uppercase;
}
label{
  line-height: 20px;
}
.sorting li{
  font-size: 14px;
}
.sorting:first-child{
  font-size: 18px;
}
.sedona-window>a:first-child{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.pink-window>a:first-child{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.barbershop-window>a:first-child{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.miska-window>a:first-child{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.aplus-window>a:first-child{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.kvast-window>a:first-child{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-header,
.header-shop,
.gray{
  background-color: #ECECEC;
}
.gray{
  width:360px;
  min-height: 80px;
}
input.priсe-off{
  width: 80px;
}
input.priсe-to{
  width: 80px;
}
.selection{
  line-height: 20px;
}
.info-fonts{
  font-size: 16px;
  line-height: 18px;
}
.friend{
  font-size: 36px;
}
.site-navigation>li a,
.basket{
  text-transform: uppercase;
   font-weight:medium;
}
/*.button{
  color: white;
}
.button-price{
  color:white;
}


/*Flex header begin*/
.main-navigation{
  display: flex;
  justify-content: flex-start;
}
.site-navigation{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.studio{
  margin-left:165px;
  width: 65px;
  min-height: 25px;
}
.shop-text{
  padding-left:13px;
}

/*.main-header-logo{
  margin-left: 140px;
}*/
.clients{
  margin-right:45px;
  margin-left:45px;
  width: 65px;
  min-height: 25px;
}
.contact{
  width: 65px;
  min-height: 25px;
  padding-left:45px;
}
.shop{
  margin-right:45px;
  width: 65px;
  min-height: 25px;
}
.basket{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 3.2%;
  width: 119px;
  min-height: 31px;
  background: url(../img/cart-icon.png) no-repeat 3% 58%;
  margin-left: 259px;
  padding-top: 10px;
}
/*Flex header end*/
/*Flex slider begin*/
.math{
  display: flex;
  flex-direction:column;
  min-width: 385px;

}
.main-navigation-centr{
  width: 1200px;
  margin: auto;
}
.math h1{
  line-height: 50px;
  margin-bottom: 18px;
}
.sliders{
  display: flex;
  min-width:730px;
  margin-left:50px;
/*  background:url(../img/slide1.png) no-repeat;*/
}
.bottom-header{
  display: flex;
  min-height: 415px;
}
.sliders-button{
  display: flex;
}
/*Flex slider end*/
/*Flex main-index begin*/

.offers{
  display: flex;
  margin-left: 123px;
  margin-bottom: 126px;
  margin-top: 86px;
}
.web-site,
.soft,
.presentation{
  max-width: 300px;
}
.soft{
  margin-right:100px;
  margin-left: 100px;
}
.surrender{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-width: 521px;
}
.represent{
  display: flex;
  padding-left:140px;
  border-top: 2px solid #ECECEC;
}

.represent-begin{
  display: flex;
  flex-direction:column;
  max-width: 660px;
}
.represent-text{
  margin-left: -17px;
  margin-top: -15px;
}
.development{
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.represent-begin>h1{
  margin-top: 23px;
  line-height: 45px;
  line-height:45px;
  margin-left: -17px;
}
.working{
  font-size: 16px;
  line-height: 24px;
  margin-top: 22px;
  position: absolute;
  margin-left: 1px;
}
.represent-end{
 margin-left: 10px;
 min-width: 521px;
}
.offer{
  background: url(../img/red-line.png) no-repeat 0 50%;
  padding-left: 36px;
  margin-top: 71px;
}
.offer+.web{
  margin-top: 50px;
}
.offer+.mobil{
  margin-top: 25px;
}
.offer+.slider{
  margin-top: 25px;
}
.illustration-color{
  margin-left: 72px;
  margin-top: 44px;
}
.year{
  display: flex;
  margin-top: 35px;
  margin-left:79px;
  margin-bottom: 51px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.enumeration{
  display: flex;
}
.rate {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-width: 521px;
  margin-left: 8px;
}
.text-146,
.text-100,
.text-50{
  min-width: 115px;
}
.text-146{
  padding-left: 15px;
}
.text-100{
  margin-right: 5px;
  margin-left: 4px;
}
.text-50{
  margin-right:137px;
}
.percent {
    font-size: 30px;
    line-height: 10px;
    font-weight: 700;
    vertical-align: super;
}
.rate-text{
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    padding: 0 0 38px;
    margin: 0;
}
.stats-text{
  font-size: 16px;
  line-height: 18px;
}

.projects{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: flex-start;
  padding-top: 46px;
  padding-bottom: 46px;
  border-top:2px solid #F1F1F1;
  border-bottom:2px solid #F1F1F1;

}

.html-academy,
.borodinski,
.pink,
.mishka{
   width: 230px;
   height: 120px;
}
.html-academy{
  margin-left: 60px;
  position: absolute;

}
.borodinski{
  margin-left:355px;
  margin-top:-14px;
  position: absolute;
}
.pink{
  padding-top: 3px;
  position: absolute;
  margin-left: 665px;
}
.mishka{
  margin-left: 971px;
}
.logo-mishka{
  padding-right: 19px;
  margin-top: -8px;
}
.pink-full{
  margin-right:120px;
  margin-left: 50px;
}
.mishka-full{
  margin-left: 50px;
}
.kvast-full{
  margin-left: 50px;
}
.projects-list{
  display: flex;
  padding-left: 95px;
}

/*Flex main-index end*/
/*Flex footer begin*/
.main-footer{
  display: flex;
  min-height: 220px;
  margin-top: 70px;
}
.social-logo{
   margin-left: 122px;
   margin-right: 120px;
   margin-top: 13px;
   min-height: auto;
   min-width: 320px;
}
.vk,
.facebook,
.instagramm{
  border:none;
  min-height: 20px;
  width: 20px;
  background: #DFDFDF;
  border-radius: 30px;
  text-align: center;
  padding-top: 32px;
  padding-right: 29px;
  padding-left: 28px;
  padding-bottom: 26px;
  border-radius: 50px;
}
.facebook{
  padding-top: 32px;
  padding-right: 33px;
  padding-left: 32px;
  padding-bottom: 28px;
  margin-left: 7px;
}
.vk{
  padding-top: 31px;
  padding-right: 27px;
  padding-left: 27px;
  padding-bottom: 28px;
  margin-left: 0;
}
.shop-model{
  margin-left: 380px;
  font-size: 55px;
  margin-top: 70px;
}
.main-navigation{
  padding-top: 45px;
}
/*Flex footer end*/
/*shop begin*/
.navigation-shop{
  height: 355px;
}
.wrapper-shop{
  display:flex;

}
.selection{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left: 140px;

}
.price{
  display:flex;
  flex-direction: column;
}
.radio{
  display: flex;
  flex-direction: column;
}
.check-box{
  display: flex;
  flex-direction: column;
}
.selection-product{
  display: flex;
  flex-direction: column;
  max-width: 800px;

  margin-left: 140px;
}
.sorting>li{
  font-weight: bold;
  text-transform: uppercase;
}
.sorting{
  display: flex;
  max-width: 700px;
  padding: 0;
  margin-right: 272px;
}
.sorting-full{
  display: flex;
}
.up-down{
  display: flex;
  width: 50px;
  margin-left: 45px;

}
li.down:before{
  content: url(../img/icon-down-dir.svg);
  margin-right: 15px;
}
li.up:before{
  content: url(../img/icon-up-dir.svg);

}
.type{
  margin-left: 25px;
  margin-right: 25px;
}

.sedona-pink{
  display: flex;
}
.barbershop-miska{
  display: flex;
  margin-top:33px;
  margin-bottom:33px;
}
.apul-kvast{
  display: flex;
}
.page-selection{
  display: flex;
  margin-top: 60px;
}
.square-button{
  background: #ECECEC;
  padding-top: 15px;
  border-radius: 5px;
  margin-right: 10px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 19px;
}

.square-button:last-child{
  padding-left: 90px;
  padding-right: 100px
}


/*shop end*/
.write{
  min-width: 320px;
  min-height: 310px;
  position: absolute;
  background-color: white;
  margin-left: 119px;
  margin-top: 19px;
}
.nerds-studia{
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 44px;
  margin-bottom: 22px;
}
.adress-peter{
  margin-top:-20px;
}
.circle-full{
  display: flex;
  background-color: #E7E7E7;
  padding-bottom: 18px;
  margin-bottom: 0px;
  border-radius: 3px 3px 0 0;
}

.button,
.button-more-info,
.button-send-me,
.send-my{
  color:white;
  border-radius: 3px;
  background-color:#FE505D;
}
.button-more-info{
  width: 240px;
  min-height: 39px;
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
  text-transform:uppercase;
  margin-top: 16px;
}
.button{
  text-align: center;
  padding-top: 14px;
  padding-bottom: 17px;
  padding-left: 36px;
  padding-right: 45px;
  text-transform: uppercase;
  display: block;
  width: 80px;
}

.assist-button{
  padding-bottom: 10px;
  margin-bottom: 22px;
}
.assist-button.more-info{
  padding-bottom: 2px;
}
.assist-button>p{
  margin-bottom: 10px;
  font-style:16px ;
  text-transform: uppercase;
}
.green{
  background-color:#00CB79;
}
.yellow{
  background-color:#EFC75A;
}
.button-send-me{
  padding-top: 14px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 17px;
  text-transform: uppercase;
}
.adress{
  margin-top: 12px;
}
.send-my{
  text-transform: uppercase;
  padding-top: 14px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 17px;
}
iframe{
    min-width:100%;
    min-height:420px;
    border:none;
    border-width: 0px;
}
.math>h1{
  font-size: 55px;
  margin-top: 71px;
}
.text-map{
  margin-left: 52px;
  margin-top: 35px;
}
.instagramm{
  margin-left: 15px;
}
.call{
  margin-left: -40px
}
.peter,
.adress,
.tel{
  color: #656565;
}
.bloc-map{
  margin-bottom: -30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header-logo img:hover{
  background: url(../img/nerds-logo-focus.png) no-repeat 50% 50%;
}



.studio a:hover ,
.clients a:hover ,
.shop-text a:hover ,
.contact a:hover ,
.basket-activ a:hover{
  color:#FE4D5E;
}
.studio a:focus ,
.clients a:focus ,
.shop-text a:focus ,
.contact a:focus ,
.basket-activ a:focus {
  color:#ABABAB;
}
.studio a:active ,
.clients a:active ,
.shop-text a:active ,
.contact a:active ,
.basket-activ a:active {
  border-bottom: 1px solid red;
}

.red:hover{
  background-color: #FE374B;
}
.green:hover{
  background-color: #00BF6B;
}
.yellow:hover{
  background-color: #F9B53E;
}
.red:focus{
  background-color: #FD2B40;
  color: rgba(255, 255, 255, 0.3);
}
.green:focus{
  background-color: #00AD61;
  color: rgba(255, 255, 255, 0.3);
}
.yellow:focus{
  background-color: #F8A730;
  color: rgba(255, 255, 255, 0.3);
}

